* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(39, 39, 39);
    width:100%;
    height:90vh;
}

#burger {
    z-index:25;
    position:absolute;
    margin:30px 40px;
    width:35px;
    height:35px;
    cursor: pointer;
    padding:0;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#burger:active {
    
    transition: .1s;
    background:rgba(207, 207, 207, 0.418);
    border-radius:50%;
}

.bg-pas {
    width: 26px;
    height: 4px;
    margin: 2px 0;
    border-radius:6px;
    transition: .4s;   
    
}

.change { /*burgerbutton*/
    transition:.4s;
}

.change .bg-pas {
    transform: skew(-60deg);
}

.bg-pas-active {
    transform:rotate(45deg);
}

#bg1 {
    background: #ff5349;
}

#bg2 {
    background: rgb(40, 161, 115);
}

#bg3 {
    background: #1a535c;
}

#burgerbar {
    position:absolute;
    width:18%;
    background:#5E5E5E;
    height:100vh;
    top:0;
    left:-18%;
    display:inline-flex;
    flex-direction: column;
    font-family: 'Nunito', sans-serif;
    font-size:20px;
    text-transform:uppercase;
    transition:0.5s;
    font-weight: 700;
    
}

.move {
    margin-left:18% !important;
    transition:.4s;
}

.bg-active {
    left:0!important;
}

#bars {
    padding-top:80px;
}

.bar {
    width:100%;
    height: 48px;
    background: #5e5e5e;
    color: #CFCFCF;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
    cursor: pointer;
}

.bar:after {
    position:absolute;
    content: '';
    width:70%;
    height:1.2px;
    background:#CFCFCF;
    margin-top:22px;
    transition:0.4s;
}



.bar {
    letter-spacing: 1px;
}



#main {
    margin-left:18%;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    margin-left:0;
    transition: .4s;
    line-height: 2;
}

#napis {
    position:relative;
    text-transform: uppercase;
    font-family: 'Linux Libertine';
    color: #CFCFCF;
    font-size: 64px;
    cursor: default;
    mix-blend-mode: lighten;
    letter-spacing: 4px;
}

#napis::before, #napis::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    width: 100%;
    background: rgb(39, 39, 39);;
    clip: rect(0, 0, 0, 0);
}



#napis::before {
    left: -1px;
    text-shadow: 1px 0 rgba(0, 255, 255, 0.7);
    
}

#napis::after {
    left:1px;
    text-shadow: -1px 0 rgba(255, 0, 255, 0.7);
}


  
@keyframes glitch-loop-1 {
    0% { clip: rect(36px, 9999px, 9px, 0) }
    25% { clip: rect(25px, 9999px, 99px, 0) }
    50% { clip: rect(50px, 9999px, 102px, 0) }
    75% { clip: rect(30px, 9999px, 92px, 0) }
    100% { clip: rect(91px, 9999px, 98px, 0) }
  }
  
  @keyframes glitch-loop-2 {
    0% { top: -1px; left: 1px; clip: rect(65px, 9999px, 119px, 0) }
    25% { top: -6px; left: 4px; clip: rect(79px, 9999px, 19px, 0) }
    50% { top: -3px; left: 2px; clip: rect(68px, 9999px, 11px, 0) }
    75% { top: 0px; left: -4px; clip: rect(95px, 9999px, 53px, 0) }
    100% { top: -1px; left: -1px; clip: rect(31px, 9999px, 149px, 0) }
  }
  
.show {
    display:block;
}

.hidden {
    display:none;
}


#burgerfooter {
    text-transform:lowercase;
    font-weight: 400;
    position:absolute;
    bottom:15px;
    left:50%;
    transform:translate(-50%);
    color:#CFCFCF;
}

#burgerfooter svg {
    fill: #CFCFCF;
}

#burgerfooter ul {
    list-style-type: none;
}

#burgerfooter li {
    line-height:50px;
    display:inline;
}


@media (max-width: 780px) {
    #burgerbar {
        font-size: 17px;
        width:50%;
        left:-50%;
    }
    
    .move {
        margin-left:50% !important;
        transition:.4s;
    }
    
    #vhs img {
        width:175px;
    }

}

@media (hover:hover) {
    #bg-bar1:hover {
        background: #f7fff7;
        color:rgb(41, 41, 41);
    }
    
    #bg-bar2:hover {
        background: #ffe66d;
        color:rgb(41, 41, 41);
    }
    
    #bg-bar3:hover {
        background: #4ecdc4;
        color:rgb(41, 41, 41);
    }
    
    #bg-bar4:hover {
        background: #ff6b6b;
        color:rgb(41, 41, 41);
    }
    
    #bg-bar5:hover {
        background: rgb(133, 36, 133);
        color:rgb(41, 41, 41);
    }
    
    #bg-bar6:hover {
        background: rgb(136, 37, 37);
        color:rgb(41, 41, 41);
    }

    .bar:hover:after {
        width:0%;
    }

    #napis:hover::before {
        text-shadow: 4px 0 rgba(red, 0.7);
        animation: glitch-loop-1 0.8s infinite ease-in-out alternate-reverse;
    }
    
    #napis:hover::after {
        text-shadow: -5px 0 rgba(blue, 0.7);
        animation: glitch-loop-2 0.8s infinite ease-in-out alternate-reverse
    }

    #burger:hover {
        transform: scale(1.2);
        transition:0.2s;
    }
}

@media (max-width: 1175px) {
    #burgerfooter li {
        display:flex;
        line-height:25px;
        justify-content: center;
    }
}

@media (hover:none) and (pointer:coarse) {
    #bg-bar1:active{
        background: #f7fff7;
        color:rgb(41, 41, 41);
    }
    
    #bg-bar2:active {
        background: #ffe66d;
        color:rgb(41, 41, 41);
    }
    
    #bg-bar3:active {
        background: #4ecdc4;
        color:rgb(41, 41, 41);
    }
    
    #bg-bar4:active {
        background: #ff6b6b;
        color:rgb(41, 41, 41);
    }
    
    #bg-bar5:active {
        background: rgb(133, 36, 133);
        color:rgb(41, 41, 41);
    }
    
    #bg-bar6:active {
        background: rgb(136, 37, 37);
        color:rgb(41, 41, 41);
    }

    .bar:active:after {
        width:0%;
    }

    #napis:active::before {
        text-shadow: 4px 0 rgba(red, 0.7);
        animation: glitch-loop-1 0.8s infinite ease-in-out alternate-reverse;
    }
    
    #napis:active::after {
        text-shadow: -5px 0 rgba(blue, 0.7);
        animation: glitch-loop-2 0.8s infinite ease-in-out alternate-reverse
    }

    #burger:active {
        transform: scale(1.2);
        transition:0.2s;
    }
}